* {
  font-family: 'Montserrat', sans-serif;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

h5, h4, h3, h2, h1 {
	color: #606060;
	margin-bottom: 0 !important;
}

h1 {
	font-weight: 900 !important;
}

h2 {
	font-weight: 800 !important;
}

h3 {
	font-weight: 600 !important;
	font-size: 21px !important;
}

h4 {
	font-weight: 600 !important;
}

h5 {
	font-weight: 600 !important;
	font-size: 19px !important;
}

a {
	text-decoration: none !important;
}

a:hover {
	color: #787878 !important;
}

p {
	font-size: 14px;
	color: #808080;
}

ul, ol {
	font-size: 14px;
	color: #808080;
}

ol li {
	padding-bottom: 6px;
}

hr {
	margin-top: 4px !important;
	margin-bottom: 8px !important;
}



/*Page Wrapper*/
.wrapper {
	overflow: scroll;
	height: 100%;
	width: 100%;
	background-color: #F5F5F5;
}

.wrapper .inner-wrap {
	min-width: 900px;
	max-width: 1100px;
	height: 100%;
	padding: 10px 40px;
    margin:0 auto;
    background-color: #F5F5F5;
}

/*Navbar Wrapper*/
.nav-wrapper {
	padding: 15px 2px 8px 2px;
	overflow: hidden;
}

.nav-wrapper ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
	display: inline-block;
}

.nav-wrapper ul li {
	float: right;
}

.nav-wrapper a {
	text-decoration: none;
	color: black;
	font-weight: 700;
}

.nav-wrapper ul li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	font-size: 18px;
}

.nav-wrapper ul li a:hover {
	background-color: #FBFBFB;
}

.nav-wrapper .banner {
	width: 1020px;
	height: 130px;
	margin: 10px 0;
}

.logo {
	display: inline-block;
}

.logo a {
	font-size: 32px;
}

/*Footer*/
.footer-wrapper {
    background-color: #F5F5F5;
}

.footer-wrapper p {
	color: #404040;
	text-align: center;
}

/*Main Content*/
.main {
    background-color: white;
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
	padding: 26px 50px;
}

.content {
	padding: 10px;
}

/*About*/
.about .profile-container {
	display: block;
	width: 360px;
	margin: 0 auto;
}

.about .profile-container .subtitle {
	display: block;
	width: 67px;
	margin: 0 auto;
}

.about .profile-container img {
	width: 300px;
	height: 320px;
	margin: 15px 30px 8px 30px;
	border-radius: 50%;
}

.about .profile-container .subtitle p {
	font-size: 8px;
	font-style: italic;
}

.profilepic {
	height: 200px;
}

.profilepic-container {
	display: flex;
}

.profilepic-text {
	margin-left: 20px;
	padding-top: 2px;
}

a.resume {
	color: #7e7e7e;
	font-style: italic;
	font-size: 15px;
}

a.resume:hover{
	color: #111;
	text-decoration: underline !important;
}


/*Portfolio*/

.portfolio .project {
	position: relative;
	width: 200px;
	height: 160px;
	text-align: center;
}

.portfolio .project img {
	width: 100%;
	height: 100%;
}

.portfolio .project p.description {
	width: 100%;
	position: absolute;
	background-color: white;
	opacity: 0.9;
	top: 0;
	transition: height .5s;
	height: 0;
	overflow: hidden;
}

.portfolio .project p.project-title {
	position: absolute;
	background-color: black;
	color: white;
	bottom: 0;
	padding: 2px;
	margin: 0;
	width: 100%;
	font-style: normal;
}

.portfolio .image-attachment {
	width: 100% !important;
}

/*Posts*/
.posts .post {
	padding: 10px 30px;
}

.posts .post .image-attachment {
	width: 100%;
}

.posts .post .image-attachment-square {
	width: 50%;
}

.post .subtitle-italics {
	font-style: italic;
	display: inline;
	font-size: 14px;
}

.post .subtitle-bar{
	display: inline;
	font-size: 13px;
}

.post .subtitle {
	display: inline;
	font-size: 12px;
}

/*Blog*/
.blog-short-container {
	margin: 20px 0 2px 0;

}

.blog-short-container h3 {
	font-weight: 600 !important;
	font-size: 16px !important;
}

.blog-short-container h5 {
	font-weight: 500 !important;
	font-size: 15px !important;
}

.blog-short-container ul {
	font-weight: 400 !important;
	font-size: 14px !important;
}
